.task-form {
    display: flex;
    margin-bottom: 1rem;

    .task-input {
        flex: 2;
        padding: 0.5rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 0.5rem;
    }

    button {
        flex: 0.5;
        background-color: red;
        font-size: 1rem;
        color: white;
        border: none;
        padding: 0.3rem 0.5rem;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: darkred;
        }
    }
}